

<div class="jumbotron">
    <h1>POGOTOWIE GAZOWE</h1>
    <p class="lead">Witaj na stronie pogotowia gazowego, jeżeli masz jakiś problem, chcesz sprawdzić jakie zasoby posiada nasza firma lub chcesz zgłosić awarię to zapoznaj się z panelem nawigacyjnym!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pogotowie gazowe</h2>
        <p>Pęknięta rura, wyciek gazu, czy może awaria ogrzewania gazowego? Dla nas to codzienność, zapraszamy do kontaktu!</p>
    </div>
</div>